---
layout: default
---

<div class="h-screen">
  {%- if page.title -%}
  <!-- <h1 class="page-heading border-solid">{{ page.title }}</h1> -->
  {%- endif -%}

  <div class="terminal space shadow h-1/2">
    <div class="top">
      <div class="icons">
        <!-- TODO: add interactivity to these -->
        <span class="terminal-icon close"></span>
        <span class="terminal-icon minimize"></span>
        <span class="terminal-icon maximize"></span>
      </div>
      <div class="title">zsh -- 70x32</div>
    </div>
    <div class="bg-black text-terminal h-full p-8 space-y-2">
      {{ content }}
    </div>
  </div>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%} -->
</div>
