---
layout: default
---

<div class="">
  {%- if page.title -%}
  {%- endif -%}

  <div class="terminal space shadow">
    <div class="top">
      <div class="icons">
        <!-- TODO: add interactivity to these -->
        <span class="terminal-icon close"></span>
        <span class="terminal-icon minimize"></span>
        <span class="terminal-icon maximize"></span>
      </div>
      <div class="title">zsh -- 70x32</div>
    </div>
    <div class="bg-black text-terminal p-8 space-y-2 min-h-96">
      {{ content }}
    </div>
  </div>
</div>
